rich-editor {
  display: block;
  width: 100%;
  position: relative; }
  rich-editor:before {
    font-family: 'material';
    content: '\e9b8';
    position: absolute;
    top: -2px;
    left: -30px;
    color: #008d7f;
    font-size: 24px; }
  rich-editor.active:before {
    display: none; }


.mce-tinymce {
  font-family: 'robotoregular' !important; }


.mce-panel .mce-preview{
  display:none !important;
}

.mce-panel {
  font-family: 'robotoregular' !important;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
  border: 0 !important;
  border-color: none !important; }
  .mce-panel .mce-toolbar {
    box-shadow: none !important; }
  .mce-panel .mce-toolbar-grp {
    box-shadow: none !important; }
  .mce-panel .mce-menu-item:hover, .mce-panel .mce-menu-item.mce-selected, .mce-panel .mce-menu-item:focus {
    text-decoration: none;
    color: #fff;
    background-color: #008d7f; }
    .mce-panel .mce-menu-item:hover i, .mce-panel .mce-menu-item.mce-selected i, .mce-panel .mce-menu-item:focus i {
      color: #fff; }
    .mce-panel .mce-menu-item:hover span, .mce-panel .mce-menu-item.mce-selected span, .mce-panel .mce-menu-item:focus span {
      color: #fff; }
  .mce-panel .mce-menu-item-sep:hover {
    background: 0 0;
    background-color: none; }
  .mce-panel .mce-menu-item.mce-disabled:hover {
    background: none; }
  .mce-panel .mce-menu-item.mce-disabled .mce-text, .mce-panel .mce-menu-item.mce-disabled .mce-ico {
    color: #adadad; }
  .mce-panel .mce-menu-item.mce-disabled .mce-text, .mce-panel .mce-menu-item.mce-disabled .mce-menu-shortcut {
    color: #adadad; }

.mce-content-body {
  padding: .25em; }

.mce-edit-focus {
  outline: 2px dashed #ddd; }

.mce-window-head .mce-title {
  line-height: 20px;
  font-size: 20px;
  font-weight: normal;
  text-rendering: optimizelegibility;
  padding-right: 10px;
  font-family: 'robotomedium'; }

.mce-ico {
  font-family: 'material' !important;
  font-style: normal;
  font-variant: normal;
  font-size: 24px !important;
  line-height: 24px !important;
  speak: none;
  vertical-align: text-top;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  background: transparent center center;
  background-size: cover;
  width: 24px !important;
  height: 24px !important;
  color: #666; }

.mce-btn-small .mce-ico {
  font-size: 12px; }

.mce-i-save:before {
  content: "\eb86"; }

.mce-i-newdocument:before {
  content: "\e943"; }

.mce-i-fullpage:before {
  content: "\ea5d"; }

.mce-i-alignleft:before {
  content: "\ea42"; }

.mce-i-aligncenter:before {
  content: "\ea40"; }

.mce-i-alignright:before {
  content: "\ea43"; }

.mce-i-alignjustify:before {
  content: "\ea41"; }

.mce-i-alignnone:before {
  content: "\ea2a"; }

.mce-i-cut:before {
  content: "\e9b4"; }

.mce-i-paste:before {
  content: "\e9b5"; }

.mce-i-searchreplace:before {
  content: "\ea2e"; }

.mce-i-bullist:before {
  content: "\ea4d"; }

.mce-i-numlist:before {
  content: "\ea4e"; }

.mce-i-indent:before {
  content: "\ea4a"; }

.mce-i-outdent:before {
  content: "\ea49"; }

.mce-i-blockquote:before {
  content: "\ea50"; }

.mce-i-undo:before {
  content: "\ec10"; }

.mce-i-redo:before {
  content: "\eb67"; }

.mce-i-link:before {
  content: "\ea96"; }

.mce-i-unlink:before {
  content: "\e94d"; }

.mce-i-anchor:before {
  content: "\ea96"; }

.mce-i-image:before {
  content: "\ea89"; }

.mce-i-media:before {
  content: "\ec1c"; }

.mce-i-help:before {
  content: "\ea7c"; }

.mce-i-code:before {
  content: "\e9a6"; }

.mce-i-insertdatetime:before {
  content: "\e9f9"; }

.mce-i-date:before {
  content: "\e9f9"; }

.mce-i-preview:before {
  content: "\eb19"; }

.mce-i-forecolor:before {
  content: "\ea48"; }

.mce-i-backcolor:before {
  content: "\ea46"; }

.mce-i-table:before {
  content: "\ea6f"; }

.mce-i-hr:before {
  content: "\e95a"; }

.mce-i-removeformat:before {
  content: "\ea80"; }

.mce-i-subscript:before {
  content: "\ea06"; }

.mce-i-superscript:before {
  content: "\ea07"; }

.mce-i-charmap:before {
  content: "\eae6"; }

.mce-i-emoticons:before {
  content: "\ea95"; }

.mce-i-print:before {
  content: "\ead2"; }

.mce-i-none:before {
  content: "\ea2a"; }

.mce-i-selectall:before {
  content: "\eb91"; }

.mce-i-fullscreen:before {
  content: "\ea5d"; }

.mce-i-spellchecker:before {
  content: "\ebcb"; }

.mce-i-nonbreaking:before {
  content: "\eab8"; }

.mce-i-template:before {
  content: "\eaae"; }

.mce-i-pagebreak:before {
  content: "\e92e"; }

.mce-i-restoredraft:before {
  content: "\eb7a"; }

.mce-i-untitled:before {
  content: "\ebfc"; }

.mce-i-bold:before {
  content: "\ea44"; }

.mce-i-italic:before {
  content: "\ea4b"; }

.mce-i-underline:before {
  content: "\ea56"; }

.mce-i-strikethrough:before {
  content: "\ea53"; }

.mce-i-visualchars:before {
  content: "\eb6c"; }

.mce-i-visualblocks:before {
  content: "\eb6c"; }

.mce-i-ltr:before {
  content: "\ea54"; }

.mce-i-rtl:before {
  content: "\ea55"; }

.mce-i-copy:before {
  content: "\e9b3"; }

.mce-i-resize:before {
  content: "\eb44"; }

.mce-i-browse:before {
  content: "\eb16"; }

.mce-i-pastetext:before {
  content: "\e9b5"; }

.mce-i-rotateleft:before {
  content: "\eb7e"; }

.mce-i-rotateright:before {
  content: "\eb7f"; }

.mce-i-crop:before {
  content: "\e9bb"; }

.mce-i-editimage:before {
  content: "\eb44"; }

.mce-i-options:before {
  content: "\eae9"; }

.mce-i-flipv:before {
  content: "\ea38"; }

.mce-i-fliph:before {
  content: "\ea3a"; }

.mce-i-zoomin:before {
  content: "\ec4a"; }

.mce-i-zoomout:before {
  content: "\ec4b"; }

.mce-i-sun:before {
  content: "\e966"; }

.mce-i-moon:before {
  content: "\e967"; }

.mce-i-arrowleft:before {
  content: "\e92d"; }

.mce-i-arrowright:before {
  content: "\e932"; }

.mce-i-drop:before {
  content: "\eb4a"; }

.mce-i-contrast:before {
  content: "\e96a"; }

.mce-i-sharpen:before {
  content: "\e917"; }

.mce-i-palette:before {
  content: "\e9a9"; }

.mce-i-resize2:before {
  content: "\e9bb"; }

.mce-i-orientation:before {
  content: "\eb8c"; }

.mce-i-invert:before {
  content: "\ea97"; }

.mce-i-gamma:before {
  content: "\ea47"; }

.mce-i-remove:before {
  content: "\e9ca"; }

.mce-i-checkbox:before{
  content: "\e995"; }

.mce-i-selected:before {
  content: "\ebea";
}

.mce-i-selected {
  visibility: hidden; }

i.mce-i-backcolor {
  text-shadow: none;
  background: #bbb; }

.rich-editor-button {
  margin-top: 2em; }

.rich-editor-form {
  padding: 0; }
